/*GENERAL*/

body {
	background-color: #383838;
	color: white;
	/*font-size: calc(14px + (36 - 14) * ((100vw - 300px) / (1600 - 300)));*/
}

span {
	color:#0076DD;
}

a {
	color:#0076DD;
}

a:hover {
	color: #ed1450;
	text-decoration: underline;
}
/*NAVBAR*/

header {
	background-color: #383838;
	z-index: 1000;
	box-shadow: 0px 0px 10px 0px #000;
}

.navbar {
	width: 95%;
}

.navbar-brand {
	font-size: 26px;
}

.nav-item {
	font-size: 21px;
	margin-left: 40px;
	border-top: 1px white;
	border-bottom: 1px white;
}

.nav-item a:hover {
	border-top: 1px white;
	border-bottom: 1px white;
}

/*ACCEUIL*/

#acceuil {
	margin-top: 8rem;
}

#acceuil .container {
	margin-bottom: 4rem;
}

hr {
	background-color: white;
	height: 1px;
	width: 20%;
	margin-bottom: 3rem; 
}

.hexagon {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #0076dd;
  margin: 28.87px 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  /*z-index: 1;*/
  width: 70.71px;
  height: 70.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 14.6447px;
}

.hexagon:before {
  top: -35.3553px;
}

.hexagon:after {
  bottom: -35.3553px;
}

/*cover up extra shadows*/
/*.hexagon span {
  display: block;
  position: absolute;
  top:0px;
  left: 0;
  width:100px;
  height:57.7350px;
  z-index: 2;
  background: inherit;
}*/