/*GENERAL*/

body {
	background-color: #383838;
	color: white;
	/*font-size: calc(14px + (36 - 14) * ((100vw - 300px) / (1600 - 300)));*/
}

span {
	color:#0076DD;
}

a {
	color:#0076DD;
}

a:hover {
	color: #ed1450;
	text-decoration: underline;
}

.external-link {
  text-decoration: underline;
}

h2,
h3 {
	margin-bottom: 5rem;
	text-transform: uppercase;
}
/*NAVBAR*/

header {
	background-color: #383838;
	z-index: 1000;
	box-shadow: 0px 0px 10px 0px #000;
}

.navbar {
	width: 95%;
}

.navbar-brand {
	font-size: 26px;
}

.nav-item {
	font-size: 21px;
	margin-left: 40px;
	border-top: 1px white;
	border-bottom: 1px white;
	text-transform: uppercase;
}

.nav-item a:hover {
	border-top: 1px white;
	border-bottom: 1px white;
}

/*ACCEUIL*/

.acceuil{
	margin-top: 8rem;
}

.acceuil .container {
	margin-bottom: 4rem;
}

hr {
	background-color: white;
	height: 1px;
	width: 20%;
	margin-bottom: 3rem; 
}

  /*DESCRIPTION PERSO*/

.acceuil img {
  float: right;
}

i {
    font-size: calc(36px + (54 - 36) * ((100vw - 300px) / (1600 - 300)));
}

.R-raid,
.A-raid,
.I-raid,
.D-raid {
	font-size: 42px;
	letter-spacing: 5px;
}

.raid {
  font-size: 24px;
  text-transform: uppercase;
}
.raid p:nth-of-type(2) {
  font-size: 18px;
  text-transform: none;

}

/* PROJETS */

.portfolio {
	background-color: #E3E3E3;
	color:#383838;
	width: 100%;
	padding-top: 5rem;
	padding-bottom: 2rem;

}

/* CONTACT */

.contact {
	padding-top: 5rem;
  margin-bottom: 2rem;
}

/* FOOTER */

ul {
	list-style: none;
  padding: 0px;
  letter-spacing: 10px; 
}

ul li a {

}
 
/* MEDIA QUERIES */

@media screen and (max-width: 600px)  {
   /* ACCEUIL */
  .raid {
    margin-bottom: 5rem;
  }

  /* PORTFOLIO */
  img {
  	margin-bottom: 1rem;
  }
} 